<div class="edit_box">

  <h2>Editing Book</h2>

  <div class="errors_msg">

    <% if @book.errors.any? %>

      <p class="info_msg"><%= @book.errors.count %> error prohibited this book from being saved:</p>

    <ul class="info_box">

      <% @book.errors.full_messages.each do |message| %>

          <li class="info_msg_s"><%= message %></li>

      <% end %>

    </ul>

    <% end %>

  </div>



  <%= form_with model: @book do |f|%>

    <% if @book.errors.include?(:title) %>

     <span class="warning">Title</span>

    <%= f.text_field :title, class: 'title_input error' %>

  <% else %>

    <p>Title</p>

    <%= f.text_field :title, class: 'title_input' %>

  <% end %>

  <% if @book.errors.include?(:body) %>
    <!--spanタグのみだとインライン要素でtitleボックスと並んでしまうためdivタグ追加-->
    <div><span class="warning">Body</span></div>

    <%= f.text_area :body, class: 'body_input error' %>

  <% else %>

    <p>Body</p>

    <%= f.text_area :body, class: 'body_input' %>

  <% end %>


      <div><%= f.submit "Update Book" %></div>

  <% end %>

  <div>

    <span><%= link_to "Show", book_path(@book.id) %></span>

    <span>|</span>

    <span><%= link_to "Back", books_path %></span>

  </div>

</div>